/* Dashboard page css */

button.btn.btn-dark{
    background-color: #000;
    font-size: 14px;
}


.superdashboard .section-main {
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 200;
}

.superdashboard .main-header-dashboard{
    padding: 10px 20px;
    background: black;
}

.mainSearch .input-container{
    position: relative;
}
.mainSearch input[type="search"] {
    width: 100%;
    padding: 10px 10px 10px 10px;   
    font-size: 16px;   
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #434343 !important;
    background: #2F2F2F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}
.mainSearch {
    width: 100%;
    max-width: 280px;
}
.shopDemoTopBar .mainSearch{
    min-width: 250px;
}
.main-header-dashboard .mainSearch { 
    margin-left: 10%;
}
 
.mainSearch input[type="search"]::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-size: 11px;
  }
  
  .mainSearch input[type="search"]::-ms-input-placeholder { /* Edge 12 -18 */
    color: #ffffff;
  }
.superdashboard .logoMain{
    width: 270px;
}
.mainSearch .input-container .input-group .btn{
    height: 28px;
    border: none !important;
    margin-top: 1px;
    margin-left: -41px;
    background-color: #2F2F2F !important;
}
.mainSearch .input-container .input-group .btn .fa-search:before {
    color: #9CA3AF;
}
.superdashboard .main-header-dashboard .btn.btn-dark.dropdown-toggle{
    padding: 10px 40px;
    border-radius: 36px;
    background: #2F2F2F;
    font-size: 14px;    
} 
.supdashAcco.link-section {
    list-style: none;
    padding-left: 0px;
}
.supdashAcco.link-section .li-drop {
    margin-bottom: 12px;
    border-radius: 6px !important;
    box-shadow: none;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.supdashAcco .accordion-item {
    padding: 0px;
    border-radius: 6px !important;
    background-color: #000000 !important;

}
.supdashAcco .accordion-item .supdashAcc-head-text{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
}
.supdashAcco .accordion-item .accordion-button{
    background-color: #000000 !important;
    border-radius: 6px !important;

}
.supdashAcco .accordion-item .accordion-button h3 {
    font-size: 13.75px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #ffffff;
}
.supdashAcco .accordion-item .supdashAccBlock::after {
    /* display: none; */
    position: absolute;
    background-image: url(../images/arrow.png);
}
.supdashAcco .accordion-item .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #434343;
    box-shadow: none;
}
.supdashAcco .accordion-item .accordion-collapse{
    background-color: #1E1E1E;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.supdashAccoNav > .nav.nav-tabs {
    border-color: #000;
}
.supdashAccoNav > .nav.nav-tabs .nav-item{
    background-color: #000;
}
.supdashAccoNav > .nav-tabs .nav-link{
    border: none;
    color: #ffffff;
}
.supdashAccoNav > .nav-tabs .nav-link.active{
    background-color: #1E1E1E;
    color: #fff;
    border: none;
    border-radius: 0;
}
.supdashAccoNav > .nav-tabs .nav-link:hover, .supdashAccoNav > .nav-tabs .nav-link:focus {
    isolation: isolate;
    border-color: #000 !important;
}

.optionDrop ul.dropdown-menu.show{
    background-color: #000;
    color: #ffffff;
}
.optionDrop .btn.dropdown-toggle{
    font-size: 14px;
}
.optionDrop ul.dropdown-menu.show li a{
    color: #ffffff;
    font-size: 13px;
}
.optionDrop ul.dropdown-menu.show li .dropdown-item:hover, ul.dropdown-menu.show li .dropdown-item:focus {
    color: #ffffff;
    background-color: #1E1E1E;
}




.supTableone .table thead tr th{
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
}
.supTableone .table tbody tr td{
    background-color: #2F2F2F;
    color: #ffffff;
    font-size: 12px;
    border: none;
}
.supTableone .table tbody tr td .btn-shopact{
    border-radius: 3.868px;
    border: 0.967px solid var(--blue-300, #93C5FD);
    background: #00FF51;
    padding: 0 10px;
    color: #ffffff;
}
.supTableone .table tbody tr td .btn-shopincativet{
    background: #D30E0E;
    padding: 0 10px;
    color: #ffffff;
    border-radius: 3.868px;
    border: 0.967px solid transparent;
}
.form-select.form-select-superdash{
    background-color: #000 !important;
    border-color: #000 !important;
    color: #ffffff;
}

.shopDemoTopBar  .form-select.form-select-superdash{
    min-width: 200px;

}

.navigation-shuperadmin{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigationBox ul.pagination li.page-item a.page-link {
    background-color: transparent !important;
    color: #ffffff;
}
.navigationBox ul.pagination li.page-item a.page-link  i{
   color: #ffffff;
}
.navigationBox ul.pagination li.page-item.active a.page-link {
    color: #fff;
    border-color: #fff;
}
.table-responsive.superShoprofile{
background-color: #000000;
border-radius: 5px;
max-width: 600px;
}
 .table-responsive.superShoprofile table.table.table-bordered tbody tr td{
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #787878;
    font-size: 14px;
}



/* shop profile page css */

.supadmshoptabs .form-group {
    margin: 10px;
    border: 1px solid #d2d2d2; 
    border-radius: 3px;
    overflow: hidden;
}

.supadmshoptabs label  {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    border: 1px solid #787878;
    background: #000;
    color: #ffffff;
    text-align: center;
    padding: 4px 0px;
    font-size: 14px;
    font-weight: 500;
}

.supadmshoptabs input {
    padding: 5px;
    width: 100%;
    border-radius: 0px; 
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #434343;
    background: #434343;
    color: #ffffff;
}
.supadmshoptabs .form-group select {
    padding: 5px;
    width: 100%;
    border-radius: 0px;    
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #434343;
    background: #434343;
    color: #ffffff;
}
.supadmshoptabs .form-group  label.label-upload-image{
    background: #434343;
}
.supadmshoptabs .upload-files-container .div-upload {
    padding: 20px 0px;
}
.supadmshoptabs .upload-files-container .drag-file-area {
    text-align: center;
}
.supadmshoptabs .upload-files-container .default-file-input {
    opacity: 0;
    height: 0px;
    width: 0px;
}
 

.shopratetabnew .table-responsive .table tr th{
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.shopratetabnew .table-responsive .table tbody tr td{
    border: 2px solid #787878;
    background: #434343;
    color: #ffffff;
}

textarea.shopcomment-control{
    padding: 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    min-height: auto !important;
}
textarea.shopcomment-control:disabled{
    padding: 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    min-height: auto !important;
} 
textarea.shoptextComment{color: #fff;}

textarea.shoptextComment:focus{
    box-shadow: none;
    outline: none;
    }

textarea.shoptextComment::placeholder{color: #fff;}

.superdashboard .dropdown-menu .profile-set .profilename p {
    color: #FF8100;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    text-wrap: nowrap;
    margin-bottom: 10px;
}
.superdashboard .main-header-dashboard .dropdown-menu a {
        color: #566363;
        font-size: 14px;
        padding: 10px 20px;
        text-wrap: nowrap;
        display: flex;
        justify-content: start;
    }