body {
    background: #f9fbfd;
    font-family: 'Poppins', sans-serif !important;
}

.dashborard-main .section-main {
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 200;
}

.dashborard-main .main-header-dashboard {
    padding: 10px 20px;
    background: black;
}

.dashborard-main .main-header-dashboard input[type="search"] {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.dashborard-main .main-header-dashboard .input-container {
    position: relative;
}

.dashborard-main .main-header-dashboard .input-container .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #aaa;
}

.dashborard-main .main-header-dashboard .set {
    display: flex;
    align-items: center;
}

.dashborard-main .main-header-dashboard .set p {
    margin-bottom: 0px;
    color: white;
}

.dashborard-main .main-header-dashboard .settwo {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.dashborard-main .main-header-dashboard .settwo p {
    margin-bottom: 0px;
    color: white;
    font-size: 12px;
}

.dashborard-main .main-header-dashboard .settwo .fa-bell {
    color: orange;
    font-size: 23px;
}

.dashborard-main .main-header-dashboard .set .input-container {
    margin-left: 10%;
    width: 40%;
}

.dashborard-main .main-header-dashboard .settwo .dropdown-menu {
    transform: translate3d(0px, 0px, 0px) !important;

    top: 45px !important;

}

.dashborard-main .main-header-dashboard .settwo .dropdown-menu {
    text-align: center;
    box-shadow: 0px 3px 10px #bfbfbf;
    padding: 10px 0px;
}

.dashborard-main .main-header-dashboard .settwo .dropdown-menu .profile-set .image img {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
}

.dashborard-main .main-header-dashboard .settwo .dropdown-menu .dropdown-item-logout {

    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px 0px 0px 0px;
    border: 1px solid rgb(215, 214, 214);
    padding: 0px 15px 3px 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px #cfcece;
    border-radius: 3px;


}

.dropdown-menu .profile-set .profilename p {
    color: #FF8100;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    text-wrap: nowrap;
    margin-bottom: 10px;
}

.dashborard-main .main-header-dashboard .settwo .dropdown-menu a {
    color: #566363;
    font-size: 14px;
    padding: 10px 20px;
    text-wrap: nowrap;
    display: flex;
    justify-content: start;
}

.dashborard-main .main-header-dashboard .settwo .dropdown-menu a img:hover {
    fill: #FF8100;
}

.dashborard-main .main-header-dashboard .settwo .dropdown-menu a:hover {
    color: #FF8100;
}

/* .dashborard-main .main-header-dashboard .settwo .dropdown-menu li .dropdown-item{
padding: 4px 10px;
font-size: 12px;

} */
.dashborard-main .main-header-dashboard .settwo .dropdown .btn-secondary {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 12px;
    border-radius: 40px;
    padding: 5px 35px;
}

.siderbar-menu-main .box {
    text-align: center;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid #cccccc;

}

.siderbar-menu-main .box:hover {
    background: aliceblue;
}

.siderbar-menu-main .active {
    background: aliceblue;
}

.siderbar-menu-main {
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 47px;
    padding-bottom: 5rem;
}

.siderbar-menu-main::-webkit-scrollbar {
    width: 2px;

}

.siderbar-menu-main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.siderbar-menu-main::-webkit-scrollbar-thumb {
    background: #888;
}

.siderbar-menu-main a {
    color: black;
    text-decoration: none;
    display: block;
}

.siderbar-menu-main .box i {
    font-size: 20px;
    margin-bottom: 2px;
}

.siderbar-menu-main .box img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 0 auto;
}

.siderbar-menu-main .box p {
    font-size: 12px;
    font-weight: 600;
    padding: 0px 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.out-expanded .siderbar-menu-main .box p {
    display: none;
}

.siderbar-section-subhead .col-pad {
    padding: 0px;
    background: white;
    position: fixed;
    box-shadow: 0px 15px 20px rgb(81 81 81 / 21%);
}

.out-expanded .siderbar-section-subhead .col-pad {
    width: 50px;
}

.section-main .fa-magnifying-glass {
    /* display: none; */
    color: white;
    font-size: 20px;
}

.dashborard-main {
    background: #f9fbfd;
}

@media only screen and (max-width: 993px) {
    .dashborard-main .main-header-dashboard .set .input-container {
        display: none;
    }

    .fa-magnifying-glass {
        display: block;
        font-size: 15px;
    }

    .dashborard-main .main-header-dashboard .settwo .dropdown .btn-secondary {
        padding: 2px 10px;
    }

    .dashborard-main .main-header-dashboard .settwo .fa-bell {
        font-size: 15px;
    }

}