
.right-sliderbarallpage .shopadmin-stickheadercontantpart{
    margin: 10px 0px 40px 0px;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-ones p{
    margin-bottom: 0px;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-twow input[type="text"]  {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 2px 10px #dddcdc;
    background: white;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-twow  select {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: center !important;
    font-size: 13px;
    box-shadow: 0px 2px 10px #dddcdc;
    background: white;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-twow input::placeholder{
    color: black;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-twow .btnaddlink{
    margin-bottom: 15px;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-twow .btnaddlink button{
    padding: 4px 20px;
    background: #d1d1d1;
    color: rgb(0 0 0);
    border: 1px solid #d1d1d1;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 0px 6px 28px #d1d1d1;
    font-size: 12px;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-twow .btnaddlink button:hover{
    opacity: 0.9;
}
.right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section .section-twow .form-cont .form-group  {
    margin-bottom: 10px;
}
.right-sliderbarallpage .shoppage-section .ShopAllPages .form-group input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"]
 {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: center;
    font-size: 13px;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}
.right-sliderbarallpage .shoppage-section .ShopAllPages .form-group select {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: center;
    font-size: 13px;
    background: white;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}

/* .right-sliderbarallpage .shoppage-section {
    padding-top: 20px;
} */

.right-sliderbarallpage .shoppage-section .select-option-first {
    padding: 20px 0px 0px 0px;
}

.right-sliderbarallpage .shoppage-section .form-group {
    margin: 10px;
border: 1px solid #d2d2d2;
box-shadow: 0px 2px 10px #dddcdc;
border-radius: 3px;
overflow: hidden;
}
.right-sliderbarallpage .shopratesection .tierratesection{
    margin-bottom: 0px;
    margin-left: 15px;
}

.right-sliderbarallpage .shoppage-section .form-control {
    padding: 1.375rem 0.75rem;
box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
border: 1px solid #ffffff;
}



.Timeline-Folderxsection .contain-set-timeline .box-timeline::-webkit-scrollbar {
    width: 0px;
    height: 3px;
  }
  .Timeline-Folderxsection .contain-set-timeline .box-timeline::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .Timeline-Folderxsection .contain-set-timeline .box-timeline::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .Timeline-Folderxsection .contain-set-timeline .box-timeline::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .Timeline-Folderxsection .contain-set-timeline{
    margin-bottom: 40px;
  }
  .Timeline-Folderxsection .contain-set-timeline p{
    font-size: 13px;
    margin-bottom: 3px;
  }
.Timeline-Folderxsection .contain-set-timeline .box-timeline{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
}
.Timeline-Folderxsection .contain-set-timeline .box-timeline .div{
    padding: 0px 10px;
    border: 1px solid black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    font-size: 12px;
}





.right-sliderbarallpage .shoppage-section .upload-files-container .drag-file-area {

    text-align: center;
}

.right-sliderbarallpage .shoppage-section .upload-files-container .drag-file-area .upload-icon {
    font-size: 30px;
}

.right-sliderbarallpage .shoppage-section .upload-files-container .drag-file-area .label-upload-image {
    font-size: 14px;
}

.right-sliderbarallpage .shoppage-section .upload-files-container .drag-file-area .label-upload-image .browse-files-text {
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}

.right-sliderbarallpage .shoppage-section .upload-files-container .default-file-input {
    opacity: 0;
    height: 0px;
    width: 0px;
}

.right-sliderbarallpage .shoppage-section .upload-files-container .div-upload {
    padding: 20px 0px;
}
.right-sliderbarallpage .shoppage-section   .edit-section{
    margin-bottom: 30px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
}
.right-sliderbarallpage .shoppage-section   .edit-section button{
    padding: 2px 20px;
background: #d1d1d1;
color: rgb(0 0 0);
border: 1px solid #d1d1d1;
margin-left: 10px;
border-radius: 3px;
box-shadow: 0px 6px 28px #d1d1d1;
}
.right-sliderbarallpage .shoppage-section   .edit-section button:hover{
    opacity: 0.9;
    box-shadow: none;
}
.shopsettingdateail .settting-contantshop .box p{
    margin-bottom: 5px;
    font-size: 12px;

}
.shopsettingdateail .tablesetting{
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
border: 1px solid #e5e5e5;
background: white;

}

.shopsettingdateail .tablesetting table {
border-collapse: collapse;
width: 100%;
}
.shopsettingdateail .tablesetting  td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
font-size: 13px;
}
.shopsettingdateail .tablesetting th {
background-color: aliceblue;
text-align: center;
font-size: 13px;
border: 1px solid #ddd;
padding: 8px;

}
/* .shopsettingdateail .tablesetting tr:nth-child(even) {
background-color: #f9f9f9;
} */
.shopsettingdateail .tablesetting input[type="checkbox"] {
transform: scale(1.5);
margin-right: 15px;
margin-left: 20px;
}
.sub-child-tablesetting{
text-align: center !important;
}
.scrool-delevry .nav-tabs {

border-bottom: none;
/* margin-bottom: 10px; */
padding: 14px 20px;
box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
border: 1px solid #ffffff;
width: fit-content;
gap: 10px;
background: white;
border-radius: 10px;
width: 100%;
}
.scrool-delevry .nav-tabs .nav-link{
 
  background-color: #f4f7f9;
 
color: black;
font-size: 14px;
 
text-align: center;
}
 .scrool-delevry .nav-tabs .nav-link:hover{
background-color: #d1d1d1; 
}
.scrool-delevry .nav-tabs .nav-link.active {
color: #000000;
background-color: #d1d1d1;
border-color: #000000;
border-radius: 31px;
}

 

  .scrool-delevrysubsection .nav-tabs {

    border-bottom: none;
    /* margin-bottom: 10px; */
    padding: 14px 20px;
    /* box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07); */
    /* border: 1px solid #ffffff; */
    width: fit-content;
    gap: 10px;
    /* background: white; */
    border-radius: 10px;
    }
  .scrool-delevrysubsection .nav-tabs .nav-link{
    padding: 3px 10px;
    border: 1px solid black;
    /* margin-left: 10px; */
    border-radius: 30px;
    color: black;
    font-size: 14px;
    }
  .scrool-delevrysubsection .nav-tabs .nav-link:hover{
    background-color: #d1d1d1; 
    }
  .scrool-delevrysubsection .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #d1d1d1;
    border-color: #000000;
    border-radius: 31px;
    }


 


.right-sliderbarallpage .shoppage-section .select-option-first .tab-content .col-rowset{
padding: 4px;
}


.shopadmindashboard .right-sliderbarallpage .link-section{
    list-style: none;
    padding-left: 0px;
}
.shopadmindashboard .right-sliderbarallpage .link-section .accordion-flush .accordion-item{
    padding: 0px 20px;
}
.shopadmindashboard .right-sliderbarallpage .link-section .li-drop{
    margin-bottom: 20px;
 
border: 1px solid #d6d6d6;
}
.shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-button:not(.collapsed) {
color: #000000;
background-color: #ffffff;
box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-body{
background: #f4f7f9;
}
.shopadmindashboard .right-sliderbarallpage .link-section  .li-drop .accordion-flush .accordion-item .accordion-button{
padding: 10px 0px;
}
.shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-flush .accordion-item .accordion-button::after{
    /* display: none; */
    position: absolute;
    background-image: url(../down-arrow-89-32.png);


}
.shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-flush .accordion-item .accordion-button .sidebar-icon{
/* font-size: 12px; */
height: 24px;
width: 24px;
}
.shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-flush .accordion-item .accordion-button h3{
font-size: 16px;
margin-bottom: 0px;
}
.shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-flush .accordion-item .accordion-button .accomdationset-head{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
}



 
.staffsectiontableresponsive  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
  }
  
  .staffsectiontableresponsive th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 11px;
    text-align: center;
  }
  
  .staffsectiontableresponsive th {
    background-color: #d1d1d1;
    font-size: 10px;
  }
  .staffsectiontableresponsive tr:nth-child(even) {
          background-color: #0066ff1c;
      }
  .staffsectiontableresponsive{
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 20px;
 
  }
  .staffsectiontableresponsive::-webkit-scrollbar {
    width: 0px;
    height: 2px;
  }
  
  /* Track */
  .staffsectiontableresponsive::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .staffsectiontableresponsive::-webkit-scrollbar-thumb {
    background: #888;
  }
.staffpermissionsection .edit-section .input-field{
    position: relative;
}
.staffpermissionsection .edit-section .input-field input[type="search"] {
    width: 100%;
    padding: 5px 40px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

  
.staffpermissionsection .edit-section .input-field .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #aaa;
    font-size: 14px;
}


 


 



/* stepformcss */


        
 
 
#multi-step-form-container .text-center {
    text-align: center;
}
#multi-step-form-container .mx-auto {
    margin-left: auto;
    margin-right: auto;
}
#multi-step-form-container .pl-0 {
    padding-left: 0;
}
#multi-step-form-container .button {
    padding: 2px 20px;
    background: #d1d1d1;
    color: rgb(0 0 0);
    border: 1px solid #d1d1d1;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 0px 6px 28px #d1d1d1;
}
#multi-step-form-container .submit-btn {
    border: 1px solid green;
    background-color: green;
    color: white;
}
#multi-step-form-container .mt-3 {
    margin-top: 2rem;
}
#multi-step-form-container .d-none {
    display: none;
}
#multi-step-form-container .form-step {
    border: 1px solid rgba(194, 192, 192, 0.1);
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    border-radius: 20px;
    padding: 20px 20px;
    background: white;
}
#multi-step-form-container .font-normal {
    font-weight: normal;
    font-size: 20px;
}
 
   
       #multi-step-form-container input[type="text"]  {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: start !important;
    font-size: 13px;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}
#multi-step-form-container   input[type="tel"]  {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: start !important;
    font-size: 13px;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}
#multi-step-form-container  input[type="email"]  {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: start !important;
    font-size: 13px;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}
#multi-step-form-container   input[type="date"]  {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: start !important;
    font-size: 13px;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}
#multi-step-form-container   input[type="number"]  {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: start !important;
    font-size: 13px;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}
#multi-step-form-container  select {
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    text-align: start !important;
    font-size: 10px;
    /* box-shadow: 0px 2px 10px #dddcdc; */
}
#multi-step-form-container label {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    background: white;
    text-align: start;
    padding: 3px 3px;
    font-size: 11px;
}
#multi-step-form-container .form-group input {
    /* margin: 10px 0px; */
    border: 1px solid #d2d2d2;
    box-shadow: 0px 2px 10px #dddcdc;
    border-radius: 3px;
    padding: 2px;
    overflow: hidden;
}
#multi-step-form-container .form-group select {
    /* margin: 10px 0px; */
    border: 1px solid #d2d2d2;
    box-shadow: 0px 2px 10px #dddcdc;
    border-radius: 3px;
    padding: 2px;
    overflow: hidden;
}

/* #multi-step-form-container .contact-detailform-section .col-rowset {
    padding: 4px;
} */
#multi-step-form-container .date-form{
font-size: 15px;
margin-left: 5px;
}
#multi-step-form-container  .form-control-sgg .row{
 
    width: 100%;
    margin: 0px;
}
#multi-step-form-container  .selct-option-box .permissinosection{
    font-size: 15px;
    margin-top: 10px;
}
#multi-step-form-container  .selct-option-box .box-contain-check{
    padding-bottom: 30px; 
}
#multi-step-form-container  .selct-option-box .box-contain-check-same{
    border-bottom: 1px solid black;
}
#multi-step-form-container  .selct-option-box .box-contain-check .div-cont{
    padding: 10px 0px 0px 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
#multi-step-form-container  .selct-option-box .box-contain-check .div-cont input{
    margin-right: 5px;
}
#multi-step-form-container  .selct-option-box .other-box-contain-checkselect .div-cont input{
    margin-right: 5px;
}
#multi-step-form-container  .selct-option-box .other-box-contain-checkselect {
    margin: 20px 0px;
}
#multi-step-form-container  .selct-option-box .other-box-contain-checkselect .div-cont{
    padding: 10px 0px 0px 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
#multi-step-form-container  .step-btnset{
    text-align: end;
}
 .second-step-employeepayment-section  .form-group label{
    font-size: 14px !important;
 }
 .second-step-employeepayment-section .div-employrateyypr{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
 }
 .second-step-employeepayment-section  .alert-text-show{
    padding: 0px 20px;
    font-size: 12px;
    text-align: center;
 }
 .second-step-employeepayment-section .form-group{
    margin-bottom: 10px !important;
    box-shadow: none !important;
    border: none !important;
   


 }
 #multi-step-form-container input {
    border: 1px solid #d2d2d2;
    box-shadow: 0px 2px 10px #dddcdc;
 }
 #multi-step-form-container .second-step-employeepayment-section .col-rowset {
    padding: 20px;
}
.contact-detailform-section .form-group{ 
    margin: 0px 3px 0px 3px !important;
    box-shadow: none !important;
    border: none !important;
}




/* stepformcss */









.shopadmindashboard .navigation-sectionsame {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shopadmindashboard .navigation-sectionsame .boxsg .sect-box-arrow {
    display: flex;
    align-items: center;
    gap: 15px;
}
.shopadmindashboard .navigation-sectionsame .boxsg .sect-box-arrow .box-count {
    width: 35px;
    height: 35px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.882px;
    border: 0.898px solid #000;
}










.api-form-section   {
    padding: 30px 20px 50px 20px;
    border-radius: 4.74px;
     background: rgba(210, 212, 215, 0.15);
    box-shadow: 0px 3.792px 3.792px 0px rgba(0, 0, 0, 0.25);
}
.api-form-section .form-control-api .form-group  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
.api-form-section .form-control-api .form-group input{
    width: 70%;
    border-radius: 0px;
    border: 0.968px solid #000;
    padding: 4px 0px;
    border: 0.968px solid #000;
}
.api-form-section .form-control-api .form-group p{
    width: 70%;
    text-align: center;
    background: #D2D4D7;
    padding: 4px 0px;
    border: 0.968px solid #000;
    margin-bottom: 0px;
}
.api-form-section .form-control-api .form-group label{
    display: inline-block;
    
    font-size: 13px;
}
.api-form-section .d-flex-set{
    display: flex;
    align-items: center;
    justify-content: center;
}
.api-form-section .form-control-api .btn-request button{
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 3px 16px 5px 16px;
    border: 1px solid black;
    border-radius: 4px;

}








@media only screen and (max-width: 993px) {
    .right-sliderbarallpage .shoppage-section .select-option-first {
padding: 50px 0px;
}
.staffsectiontableresponsive  table{
    width: 120%;
}
.api-form-section .form-control-api .form-group input{
    width: 60%; 
}
.api-form-section .form-control-api .form-group p{
    width: 60%; 
}
.api-form-section {
    padding: 30px 10px 50px 10px;
     
}
}

@media only screen and (max-width: 767px) {
    .api-form-section .d-flex-set{
        margin-top: 30px;
    }
    .right-sliderbarallpage .shoppage-section .select-option-first {
        padding: 20px 10px;
    }
    .right-sliderbarallpage .shopadmin-stickheadercontantpart .conyter-section{
        justify-content: center;
    }
    .shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-flush .accordion-item .accordion-button .accomdationset-head{
        gap: 15px;
    }
    .shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-flush .accordion-item .accordion-button h3{
        font-size: 10px;
    }
    .shopadmindashboard .right-sliderbarallpage .link-section .li-drop .accordion-flush .accordion-item .accordion-button .sidebar-icon {
        font-size: 11px;
    }
   
}